

.header {
    width: 100%;
    background-color: rgb(45, 44, 43);
    padding: 1em;
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-between;
    align-items: center;
}
.row {
    display: flex;
}


.header-svg {
    width: 2em;
    height: 2em;
}

.header-a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;
}

.header-button {
    background-color: rgb(51, 55, 91);
    border-radius: 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-button:hover {
    background-color: rgb(73, 76, 97);
    border-radius: 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.header-button:active {
    background-color: rgb(177, 178, 186);
}


.header-nav {
    background-color: rgb(71, 70, 68);
    width: 100%;
    margin-left: 175.50px;
    margin-top: -32px;
}

.header-ul {
    display: none;
}

.header-ul.isActive {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    background-color: rgb(51, 55, 91);
    padding: 0;
}

.header-link {
    margin: 0.5em;
    text-decoration: none;
    color: aliceblue;
    text-align: left;
    padding: 5px;
}

.icon {
    color: aliceblue;
}



/* @media screen and (max-width:480px){
    .header

} */