.listContainer {
    border: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    margin: auto;
}

.listItem {
    border-radius: 5px;
    padding: 15px 0;
    margin-bottom: 10px;
}

.listItemConteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listLink {
    text-decoration: none;
    border: 1px solid black;
    align-self: stretch;
    color: aliceblue;
    padding-left: 10px;
}

.headerPart {
    margin-bottom: 15px;
}

.listDeleteButton{
    align-self: flex-end;
    margin-right: 10px;
}

.dispalyNone {
    display: none;
}

.compare {
    background-color: rgb(66, 115, 136);
}

.majority {
    background-color: rgb(98, 71, 121);
}

.ponderation {
    background-color: rgb(70, 99, 162);
}