body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    max-width: 999px;
    margin: auto;
    background-color: rgb(26, 27, 30);
    color: white
    ;
}

.center {
    text-align: center;
}

.input-general-form {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.input-button {
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 15%;
    background-color: rgb(31, 69, 112);
    color: white;
    border: none;
    cursor: pointer;
}

.delete-result {
    background-color: rgb(31, 69, 112);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.input-button-login {
    background-color: rgb(31, 69, 112);
    color: white;
    border: none;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
}

.cancel-button {
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 15%;
    background-color: rgb(31, 69, 112);
    color: white;
    border: none;
    cursor: pointer;
}

.input-checkbox {
    width: 18px;
    height: 18px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.multicheck {
    background-color: rgb(31, 69, 112);
    padding: 6px;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-form {
    margin-top: 25px;
    margin-bottom: 15px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.input-checkbox-text {
    align-self: center;
    padding: 5px;
    border-radius: 10px;
}

.links {
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 5px;
    width: 15%;
    margin: auto;
}

.login-links {
    background-color: rgb(31, 69, 112);
    color: white;   
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    padding: 5px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.input-number {
    width: 6%;
    margin-right: 10px;
}

.login-container {
    background-color: rgb(70, 83, 116);
    margin: auto;
    margin-top: 100px;
    width: 30%;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}

.result-text {
    background-color: rgb(39, 115, 255);
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;

}